<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984079280576-th2djsiaceadm0ifltc5b5qm4psm2jo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984079280576-th2djsiaceadm0ifltc5b5qm4psm2jo9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>984079280576-1ekdupcfeupovuurf18pm1ebbdm2strt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAX-FoJb6O_kynrgfE0yH0g4-E2SYT7iuA</string>
	<key>GCM_SENDER_ID</key>
	<string>984079280576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piyushmahajan.9roofai</string>
	<key>PROJECT_ID</key>
	<string>roof-58b29</string>
	<key>STORAGE_BUCKET</key>
	<string>roof-58b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984079280576:ios:6d980f25f54ca7512a0025</string>
</dict>
</plist>